parameters:
  level: 9
  paths:
    - src
    - tests
  ignoreErrors:
    - '#Dynamic call to static method PHPUnit\\Framework\\.*#'
  reportUnmatchedIgnoredErrors: false
  treatPhpDocTypesAsCertain: false
includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
