name: CI

on: [push, pull_request]

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        php-version: ['7.1', '7.2', '7.3', '7.4', '8.0', '8.1', '8.2', '8.3', '8.4', '8.5']
        experimental: [false]
        include:
          - php-version: '8.6'
            experimental: true
    steps:
      # Download code from repository
      - name: Checkout code
        uses: actions/checkout@v6

      # Setup PHP
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: none
          extensions: ast-stable

      # Setup Composer
      - name: Setup Composer
        run: composer validate --strict && composer install

      # Run static analyzer
      - name: Run static analyzer
        if: ${{ success() && matrix.php-version != '7.1' }}
        run: vendor/bin/phpstan analyse

      # Run tests
      - name: Run tests
        run: vendor/bin/simple-phpunit --testdox
